/* @import "tailwindcss/base"; */

@import "@mantine/core/styles.css";
@import "@mantine/core/styles.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/nprogress/styles.css";

/* @tailwind base; */
/* @import "tailwindcss/base"; */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer base { */
button {
  background-color: unset;
  background-image: unset;
  border: unset;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}
/* } */
